<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment [(ngModel)]="segmento">
    <ion-segment-button value="experiencia">
      <ion-label>Experiencia</ion-label>
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="datos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segmento === 'experiencia'">
    <app-experiencia-laboral></app-experiencia-laboral>
  </div>
  <div *ngIf="segmento === 'certificaciones'">
    <app-certificaciones></app-certificaciones>
  </div>

    <div *ngIf="segmento === 'datos'">
    <app-certificaciones></app-certificaciones>
  </div>

</ion-content>
